
<%- include("partials/header") -%>



<div id="section1">
    <h1>
        La <span id="animation-feu">Breizh de l'espoir</span><br />Brulons la
        mucoviscidose
    </h1>
</div>

<div  id="section3">
    <div class="article_solo">

            <h2 class='maladie_titre'><%= article.title%></h2>
            <div><%-articleHtml%>
            </div>
    </div>
    <br>
    <a href="/connaitre-la-maladie">Retour aux articles</a>
        </div>



<%- include("partials/footer") -%>
