<%- include("partials/header") -%>


<div id="section2" class="une-histoire">
    <h2>Une histoire - Condensé du Dossier de presse 2022</h2>
    <div class='president-message'>
    <h3>Mot du Président</h3>
        <p>Même si, fort heureusement, le mot 'pandémie' ne semble plus utilisé à ce jour, la Covid est toujours
            présente et active à travers ses différents variants.<br/>
            Dans ce contexte, La Breizh de L'espoir, brûlons la mucoviscidose ne peut toujours pas aller à votre
            rencontre ni organiser de manifestations.<br><br>
            L'association, reconnue organisme d'intérêt général, agit sur le plan national et ne bénéficie
            d'aucune subvention de l'Etat ni des collectivités locales. Elle ne vit que par la générosité des
            donateurs et des partenaires qui lui font confiance, par l'engagement de son parrain, de ses
            ambassadrices et ambassadeurs et le dévouement de ses bénévoles.<br><br>
            Grâce au travail des chercheurs et du Corps médical dans son ensemble, la qualité de vie des
            patients s'améliore mais, ON NE SAIT TOUJOURS PAS GUÉRIR LA MALADIE.<br><br>
            Comme le démontre encore le bilan 2021, la forte hausse du nombre d'aides financières apportées
            aux patients au cours de ces deux dernières années (19 avant la pandémie – 53 aujourd'hui) est
            significative d'une situation préoccupante. De plus, la majorité de ces demandes ne sont pas faites
            dans un contexte de loisirs mais simplement pour payer les factures voir manger tout simplement.<br><br>
            Cette situation, que nous espérons passagère, ne nous empêche pas de penser également à l'avenir.
            Ainsi, les soutiens apportés à la recherche et au Centre de Ressources Contre la Mucoviscidose sont
            vitaux.<br><br>
            Nos ambitions en 2022 sont de communiquer à travers ce nouveau site, nos pages réseaux sociaux
            et d'échanger au quotidien à travers un FORUM libre qui voit le jour cette année.<br>
            Nous voulons également fidéliser et augmenter notre nombre d'adhérents à travers notre campagne
            annuelle de dons qui prend le nom de MUCODON et par l'instauration d'un challenge qui vous est
            réservé et que vous pouvez découvrir sur la page FAIRE UN DON.<br><br>
            Faute de rencontre, nous restons disponibles pour répondre à toutes les questions... N'hésitez pas à
            nous contacter via le formulaire CONTACT.<br><br>
            La vie n'est pas toujours belle, mais sans la vie rien n'est beau.
            Sans vous, RIEN NE SERA POSSIBLE.<br><br>
            Pascal.<br>
            Président</p>    </div>

    <div>
        <h3>En 2021, la Breizh de l'espoir, c'est ...</h3>
        <div class="histoire-action">
            <p>1200 € pour la recherche !</p>
            <img src='/images/uploads/1655803093341-photo-remise-cheque-recherche-mucoviscidose.png' alt='Un chèque a été remis pour financer la recherche contre la mucoviscidose.'/>
        </div>
        <div class="histoire-action">
        <p>2000 € au centre de Ressources contre la Mucoviscidose !</p>
        <img src='/images/uploads/1655802999521-remise-cheque-hopital-CRCM-mucoviscidose.jpg' alt='Une photo de remise de chèque au Centre de Ressources Contre la Mucoviscidose.'/>
        </div>
            <div class="histoire-action">

            <p>7370 € d'aides financières aux patients !</p>
        <img src='/images/uploads/1655802925159-aide-financieres-patients-mucoviscidose-breizh-association.jpg' alt='Par respect pour les patients, nous ne diffusons pas de photos les concernant.'/>
            </div>
        <div class="histoire-action">
            <p>100 € pour le Téléthon !</p>
        </div>
        <h4>Soit un total de 10 670 € pour les patients !</h4>

    </div>
    <div class='president-message'>
        <h3>L'histoire de la Breizh</h3>
        <p>Le 14 décembre 1985 : Frantz est un beau cadeau de Noël pour ses parents
            Le 29 octobre 1990 : Logan, fils de Patricia et Pascal, donnent un magnifique petit
            frère à Frantz.
            Tout se passe très bien, même si les deux accouchements sont interminables
            pour leur maman et... leur papa. Pendant ce temps, 5 années s'écoulent entre la
            naissance de leurs deux garçons et pendant ce temps, la science évolue,
            notamment dans le dépistage de certaines maladies de naissance.
            C'est à la suite d'une prise de sang, alors que rien ne pouvait nous avoir alerté,
            que nous apprenons que Logan est atteint de mucoviscidose. S'en suit une série
            de tests pratiqués sur tous les membres de la famille dont Frantz. Et là, une
            nouvelle bombe nous tombe sur la tête : Frantz est également atteint.
            Brutalement, les médecins nous disent que cette maladie est extrêmement grave
            et qu'il n'y a aucun espoir de les sauver. Soudainement, le monde s'écroule sous
            nos pieds.
            Dès cet instant, nous savons que notre vie et celle de Frants et Logan ne serait
            pas celle dont nous avons rêvé. Pendant des années nous avons subi les
            événements, il nous a fallu du temps pour sortir la tête de l'eau.
            Aujourd'hui, pour l'amour de Frantz et Logan, nous trouvons l'énergie nécessaire
            pour mener ce combat !
            Ainsi est né "LA BREIZH DE L'ESPOIR, brûlons la mucoviscidose"</p>
    </div>

    <div>
        <h3>Notre organigramme</h3>
        <div class="histoire-action">

            <img src='/images/uploads/1655802623700-organigramme-breizh-mucoviscidose-association.jpg' alt='Un chèque a été remis pour financer la recherche contre la mucoviscidose.'/>
        </div>


    </div>

    <div>
        <a class="don-link" href="/mentions-legales/1655806356772-dossier-de-presse-2022.pdf"><p>Pour télécharger la version complète du dossier de presse, cliquez-ici !</p></a>
    </div>

</div>

<%- include("partials/footer") -%>
