<%- include("partials/header") -%>


<div id="section2">

    <div class='president-message'>
        <div>
            <p class='president_titre'>Message du <%=news.create_date%></p>
            <p class='president_contenu'>Message du <%=news.content%></p>
        </div>
    </div>

    <%}%>

</div>

<%- include("partials/footer") -%>
