<%- include("partials/header") -%>


<div id="section1">
    <h1>
        La <span id="animation-feu">Breizh de l'espoir</span><br />Brulons la
        mucoviscidose
    </h1>
</div>

<div id="section3">
    <h2><%=temoignage.title%></h2>


<div class="d-inline-flex justify-content-around flex-wrap">

    <div class='supports_article'>
        <%-temoignage_html%>
    </div>

</div>
<%- include("partials/footer") -%>


